html {
	position:           relative;
	font-family:        verdana;
	font-size:          1.2em;
}

body {
	color:              #333;
	padding:            0 auto;
	margin:             0 auto;
	width:              100%;

}
h1 {
    font-size:          2em;
    font-family:        tahoma;
    margin-bottom:      20px;
    padding:            0px 0px 30px 0px;
    border-bottom:      4px solid #7992ac;
}
h2 {
    font-size:          1.4em;
    font-family:        tahoma;
    margin:             50px 0px 10px 0px;
    padding:            30px 0px 0px 0px;
    border-top:         4px dotted #7992ac;
}

a {
	text-decoration:    none;
	font-style:         bold;
	color:              #4476aa;
	padding:            4px 2px;
}

a:hover {
	text-decoration:    none;
	background-color:   #ccc;
	color:              #000;
}

table {
	margin:             40px 0px 20px 0px;             
	background-color:   #fff;
}
td {
	border:             1px dotted #ccc;
	font-size:          1.4em;
	padding:            10px 30px;
}
.tab td {
	width:              100%;
	border:             0px dotted #ccc;
	font-size:          1.4em;
	padding:            10px 30px 10px 20px;
	background-color:   #f3f3f3;
}

td.light {
	background-color:   #fefefe;
	font-size:          0.6em;
	font-weight:        bold;
	text-transform:     uppercase;
	font-family:        arial;
}
.viewer {
	background-color:   #fff;
	font-size:          0.6em;
	font-family:        arial;
}
.spanner {
	background-color:   #eee;
	font-family:        arial;
}
td .add {
	background-color:   #fefefe;
	font-size:          0.6em;
	font-weight:        bold;
	text-transform:     uppercase;
	font-family:        arial;
}
.menu {
	left: 0px;
	width: 300px;
	background-color: #ddd;
	min-height: 200px;
}
small {
    font-size:          1em;
    padding:            0 auto;
    margin:             40px 0px 20px 0px;
}

.contents {
	width:              850px;
	background-color:   #eee;
	padding:            60px 60px;
}
.subHeader {
	background-color:   #eee;
	margin:             20px;
	padding:            20px 20px;
	border:             1px red dotted;
}